.tokyo_tower{
  width: 30%;
}

.about_info{
  font-family: 'Courier New';
  font-size: 3vw;
  opacity: 0;
  position: fixed;
}
.location{
  top: 30%;
}
.birth{
  top: 44%;
}
.yuzu_side_face{
  right: -20%;
}
.yuzu_about{
  font-size: 3vw;
  top: 15%;
  left: 18%;
}

.projects_wrapper{
  top: 860em;
}

.experience_explanation{
  font-size: 2vw;
  width: 14vw;
  position: fixed;
  top: 40vw;
}
.experience_year{
  font-family: 'Courier New';
  font-size: 2vw;
  position: fixed;
  top: 18vw;
  width: 14vw;
}
.dashed_line{
  position: fixed;
  top: 30.5vw;
  left: 90%;
  color: black;
  height: 1px;
  border-style: dashed;
}

.experience_block{
  width: 12vw;
  height: 12vw;
  color:black;
  top: 24vw;
  transform: rotate(45deg);
}
.experience_line{
  top: 30.5vw;
}
.experience_title{
  font-size: 2.5vw;
  padding-top: 4vw;
  text-align: center;
}

.kazaguruma_stick{
  visibility: hidden;
}

.furin_glass{
  position: fixed;
  top: -60%;
  left: 25vw;
  min-width: 20%;
  height: 70%;
  transform-origin: 50% 0%;
}
.furin_paper{
  left: 35vw;
  width: 15vw;
}
.skill_list{
  left: -5%;
}
