.tokyo_tower{
  width: 30%;
}

.about_info{
  font-family: 'Courier New';
  font-size: 3vw;
  opacity: 0;
  position: fixed;
}
.location{
  top: 30%;
}
.birth{
  top: 44%;
}
.yuzu_side_face{
  right: -20%;
}
.yuzu_about{
  font-size: 3vw;
  top: 15%;
  left: 18%;
}